#ignore contents of the build directory
build/*

#ignore vim swap files
*.swp

#ignore all .ycm_extra_conf files except for the .py file
.ycm_extra_conf.*
!.ycm_extra_conf.py

#glade buffer and backup files
ui.glade~
\#ui.glade\#

#python files
*.pyc
__pycache__/*
